@import '@/assets/styles/variables';

.geo_btn {
  background-color: transparent;

  > .geo_icon {
    width: 35px;
    height: 35px;
    color: $gray;

    &.active {
      color: $heading-color;
    }
  }
}

.search_input {
  width: 200px;
  height: 35px;
  font-size: 16px;
  font-weight: 500;
  color: $white;
  background-color: $widget-bg;
  border-radius: 10px;
  padding-left: 10px;

  &::placeholder {
    color: $gray;
  }
}

.find_btn {
  width: 100px;
  height: 35px;
  border-radius: 10px;
  background-color: $heading-color;
  font-size: 16px;
  font-weight: 500;
  color: $white;

  &:hover {
    opacity: 0.8;
    transition: opacity 0.4s ease-in-out;
  }
}
