@import '@/assets/styles/variables';
@import '@/assets/styles/mixins';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;

  @include netbook {
    padding: 0 20px;
  }

  @include mobileMedium {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 0;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 0 20px;

  > img {
    width: 65px;
    height: 65px;
  }

  > h1 {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    color: $heading-color;
  }
}
