@mixin netbook {
  @media all and (max-width: 1200px) {
    @content;
  }
}

@mixin tabletLarge {
  @media all and (max-width: 1063px) {
    @content;
  }
}

@mixin tabletSmall {
  @media all and (max-width: 940px) {
    @content;
  }
}

@mixin mobileLarge {
  @media all and (max-width: 807px) {
    @content;
  }
}

@mixin mobileMedium {
  @media all and (max-width: 704px) {
    @content;
  }
}

@mixin mobileSmall {
  @media all and (max-width: 492px) {
    @content;
  }
}

@mixin button {
  height: 35px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  color: $white;
}

@mixin bgWidget {
  padding: 20px;
  width: 100%;
  background-color: $widget-bg;
  border-radius: 20px;
  box-shadow: $widget-shadow;
}

@mixin svgIcon {
  width: 25px;
  height: 25px;
  color: $heading-color;
}

@mixin skeleton {
  width: 100%;
  background-color: $widget-bg;
  border-radius: 20px;

  &::after {
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from($widget-bg),
      color-stop(#5e5e5e),
      to($widget-bg)
    );
    background-image: -o-linear-gradient(left, $widget-bg, #5e5e5e, $widget-bg);
    background-image: linear-gradient(90deg, $widget-bg, #5e5e5e, $widget-bg);
  }
}
