@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$default-font: 'Montserrat', sans-serif;
$body-bg: #0d1117;
$widget-bg: #4f4f4f;
$widget-shadow: 2px 5px 25px -3px #b4b4b440;
$heading-color: #4793ff;
$white: #ffffff;
$gray: #939cb0;
