@import '@/assets/styles/variables';

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: $heading-color;
  padding: 40px;
  border-radius: 10px;
  box-shadow: $widget-shadow;
}

.content {
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  text-align: center;
}
