@import '@/assets/styles/variables';
@import '@/assets/styles/mixins';

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: $heading-color;
  padding: 40px;
  border-radius: 10px;
  box-shadow: $widget-shadow;

  @include mobileLarge {
    padding: 20px;
  }
}

.content {
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  text-align: center;

  @include mobileMedium {
    font-size: 15px;
    line-height: 18px;
  }
}
